
<h1>Add a Review!</h1>

<%= render 'layouts/errors', locals: {object: @review} %>

<%= form_for(@review) do |f| %>
    <% if params[:cigar_id] %>
        <%= f.hidden_field :cigar_id %>
    <% else %>
        <div>
            <%= f.label :cigar_id, "Choose a Cigar" %>
            <%= f.collection_select :cigar_id, Cigar.all, :id, :brand_and_style, include_blank: true %>
        </div>
    <% end %>
    <div>
        <%= f.label :matches %>
        <%= f.number_field :matches, min:0, max:5 %>
    </div>
    <br>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <br>
    <div>
        <%= f.label :summary %>
        <%= f.text_area :summary, size: "15x15" %>
    </div>
    <br>

    <%= f.submit %>
<% end %>